body{
background-color: grey;
box-sizing: border-box;
}
.container{
	padding-top: 20px;
	background-color: beige;
}
div.img{
	width: 300px;
	height: 300px;
	
}
input{
	margin-bottom: 10px;
}
img{
	width: 300px;
	height: 300px;
	border-radius:50%;
	border: solid white 10px;
	
}